extends layout.pug

block content
    h1 Create Contact
    form(action='/create', method='post')
        fieldset
            legend Contact Information
            p
                label(for='fname') First Name:
                input(type='text', placeholder='First Name', name='fname')
            p
                label(for='lname') Last Name:
                input(type='text', placeholder='Last Name', name='lname')
            p
                label(for='phone') Phone:
                input(type='text', placeholder='Phone', name='phone')
            p
                label(for='email') Email:
                input(type='email', placeholder='Email', name='email')
        br
        fieldset
            legend Address
            p
                label(for='street') Street:
                input(type='text', placeholder='Street', name='street')
            p
                label(for='city') City:
                input(type='text', placeholder='City', name='city')
            p
                label(for='state') State:
                input(type='text', placeholder='State', name='state')
            p
                label(for='zip') Zip:
                input(type='text', placeholder='Zip', name='zip')
            p
                label(for='country') Country:
                input(type='text', placeholder='Country', name='country')
        br
        fieldset
            legend Contact Preferences
            p
                input(type='checkbox', name='contact_by_phone')
                label(for='contact_by_phone') Contact by Phone
            p
                input(type='checkbox', name='contact_by_email')
                label(for='contact_by_email') Contact by Email
            p
                input(type='checkbox', name='contact_by_mail')
                label(for='contact_by_mail') Contact by Mail
        br
        button(type='submit') Create Contact
        a(href="/") Cancel
        if message
            p #{message}